.idea/
*.iml
target/
# --- Maven ---
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.nextSnapshot
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# --- OS ---
.DS_Store
Thumbs.db

# --- Log ---
logs/
*.log

# --- Temp ---
temp/
tmp/
# --- Configuration & Secrets ---
.env
application-local.yml

# --- IDE & Build ---
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Others ---
.project
.settings/
.classpath

# Frontend
sql-insight-frontend/node_modules/
sql-insight-frontend/dist/